@import "reset.scss";
html{
    font-size:14px;
    line-height:1;
}
.conteiner {
    width: 100%;
    max-width: 1920px;
    margin: 0px auto;
    background: rgb(246,246,246);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
.header__left{
	flex: 1 1 30%;
}
.header__right{
	flex: 1 1 70%;
}
.header__left-logo{
	background-image:url(../image/logo.png);
	background-size:cover;
	width:116px;
	height:116px;
	margin: 0 auto;
}

nav[role="custom__menu"] {
    width: 100%;
}
input[type="checkbox"] {
    display: none;
}
nav[role="custom__menu"] label {
    color: #ccc;
}
nav[role="custom__menu"] ul{
	width:100%;
	padding: 0px;
margin: 0px;
width: 100%;
list-style: none;
}
nav[role="custom__menu"] ul > li {
    float: left;
    padding: .55em .55em;
    width: 24%;
    text-align: center;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow, color;
    box-shadow: 0 0.05em 0.5em 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
nav[role="custom__menu"] ul > li:hover {
  background-color: rgba(255, 234, 0, 0.85);
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}
nav[role="custom__menu"] ul > li >a{
  color: rgb(16,16,16);
  text-decoration: none;
  font: 1.4em sans-serif;
  transition: color .3s ease-in-out;
}
@media screen and (max-width: 480px) {
  nav[role="custom__menu"] ul {
    display: none;
    height: 100%;
  }
  nav[role="custom__menu"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
}
  nav[role="custom__menu"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom__menu"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom__menu"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
}

/* portfolio__nav */

.portfolio__nav{
	width:100%;
	height:150px;
}
.portfolio__nav-bg{
	background-image:url(../image/logo-image.png);
	background-size:cover;
	width:auto;
	height:150px;
	margin: 0 auto;
}
.portfolio__nav-block{
	display: flex;
text-align: center;
justify-content: center;
align-items: center;
height: 150px;
}
.portfolio__nav-text{
	width:200px;
	height:60px;
	background:rgba(0,0,0,0.7);
	box-shadow:0 0 5em 0 rgba(246,246,246,0.7), inset 0 0 2em 0 rgba(246,246,246,0.7);
	margin:0 auto;
	display: table;
}
.portfolio__nav-text a{
 display: table-cell;
vertical-align: middle;
	color:rgb(230,211,9);
	font-size: 1.4em;
	font-weight:600;
	font-family:Century Gothic,sans-serif;
	text-decoration:none;
}



/* Footer */
.footer__block{
	background: rgb(65,65,70);
	width:100%;
	height:100%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-grow: 1;
}
.footer__block h3{
	font-size:1.4em;
	font-weight:600;
	font-family:Century Gothic,sans-serif;
	color:rgb(230,211,9);
	text-align: center;
}
.footer__block p{
	font-size:1em;
	font-weight:600;
	font-family:Century Gothic,sans-serif;
	color:rgb(230,211,9);
	text-align: center;
	margin-top: 2%;
}
.footer__block-left{
	flex: 1 1 33%;
	margin-bottom:2%;
}
.footer__block-center{
	flex: 1 1 34%;
	margin-bottom:2%;
}
.footer__block-right{
	flex: 1 1 33%;
	margin-bottom:2%;
}
.project__git{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: row;
justify-content: center;
align-items: center;
}
.project__git-image{
		flex: 1 1 20%;
		background: url(../image/github_icon.png);
		background-repeat:no-repeat;
		width:64px;
		height:64px;
        margin-left:10%;
}
.project__git-ancor{
	flex: 1 1 70%;
}
.project__git-ancor a{
	font-size:1em;
	font-weight:600;
	font-family:Century Gothic,sans-serif;
	color:rgb(230,211,9);
	text-align: center;
}
.facebook{
		background: url(../image/facebook.png);
		background-repeat:no-repeat;
		width:36px;
		height:36px;
}
.vk{
		background: url(../image/vk.png);
		background-repeat:no-repeat;
		width:36px;
		height:36px;
}
.google-plus{
		background: url(../image/google-plus.png);
		background-repeat:no-repeat;
		width:36px;
		height:36px;
}
.instagram{
		background: url(../image/instagram.png);
		background-repeat:no-repeat;
		width:36px;
		height:36px;
}
.twitter{
		background: url(../image/twitter.png);
		background-repeat:no-repeat;
		width:36px;
		height:36px;
}